.container {
  width: 100%;
  height: 100%;
}

.playlist__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  overflow: hidden;
  overflow-y: scroll;
}

.playlist__container::-webkit-scrollbar {
  width: 0.3em;
  border-radius: 1rem;
}

.playlist__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.playlist__container::-webkit-scrollbar-thumb {
  background-color: #7cb9e8;
  outline: 1px solid #7cb9e8;
  border-radius: 1rem;
}

.card {
  width: 20rem;
  height: 13rem;
}

.card__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 15rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  background-color: #7cb9e8;
}

.btn:hover {
  background-color: #7cb9e8a1;
}
